body{
	margin: 0;
	padding: 0;
}

nav{
	margin: 0;
	padding: 0 20px;
	height: 50px;
	border-bottom: 1px solid #CCC;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;
}
.nav-left{
	width: 80px;
	height: 25px;
	display: flex;
	justify-content: space-around;
}
.nav-left div{
	width: 30px;
	height: 100%;
}

.nav-center{
	width: fit-content;
	/*font-family: 'Chela One', cursive;*/
	font-family: 'Alfa Slab One', cursive;
	/*font-family: 'Kdam Thmor Pro', cursive;*/
	font-size: 20px;
	letter-spacing: 2px;
	margin: 0;
}
h2{
	margin: 0;
	text-align: center;
}

.nav-right{
	width: 80px;
	height: 25px;
	display: flex;
	justify-content: space-around;

}
.nav-right div{
	width: 30px;
	height: 100%;
}

i{
	font-size: 22px;
	color: #222;
}

.container{
	width: 100%;
	margin: 0;
	height: 680px;
	padding: 50px 0 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.game-grid{
	width: 342px;
	height: 412px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.row{
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.row div{
	width: 60px;
	height: 60px;
	border: 2px solid #DDD;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 32px;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}


.keyboard{
	height: 175px;
	width: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.keyrow{
	width: auto;
	height: 50px;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	line-height: auto;
	display: flex;
}
.keyrow div{
	margin: 0 3px;
	width: fit-content;
	height: fit-content;
	padding: 18px 15px;
	background: #D1D1D1;
	color: #222;
	border-radius: 5px;
	cursor: pointer;
}
.keyrow div:hover{
	transform: scale(1.1);
}
.keyrow .delete{
	color: #444;
	font-size: 22px;
}


.gameover{
	display: flex;
	height: 100vh;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	align-items: center;
	background-color: rgba(50, 50, 50, 0.5);
}
.gameover div{
	width: 100%;
	height: fit-content;
	font-size: 40px;
	font-family: 'Roboto',sans-serif;
	font-weight: 700;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #EEE;
	color: #222;
}
#msg{
	margin-bottom: 30px;
}
.gameover .btn{
	width: fit-content;
	height: fit-content;
	padding: 10px 15px;
	background-color: #aaa;
	border: 2px solid #222;
	border-radius: 5px;
	font-size: 30px;
	cursor: pointer;
}

@media screen and (max-width: 600px){
	.nav-center{
		font-size: 18px;
	}
	.nav-left{
		width: 60px;
	}
	.nav-right{
		width: 60px;
	}
	.container{
		height: 600px;
		width: 100%;
		padding: 0;
		padding-top: 50px;
	}
	.game-grid{
		transform: scale(0.8);
	}
	.keyboard{
		transform: scale(0.8);
		padding: 0;
	}
	.keyrow{
		padding: 0;
	}

	.keyrow .delete{
		font-size: 4px;
	}
	.gameover div{
		font-size:25px;
	}
	.gameover .btn{
		font-size: 15px;
	}

}
@media screen and (max-width: 400px){
	nav{
		padding: 0 10px;
	}

	.game-grid{
		transform: scale(0.8);
	}
	.keyboard{
		transform: scale(0.65);
	}

}
